/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    background: #fafafa;
    overflow-x: hidden;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(240,255,255, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.cursor-hand {
    cursor: pointer; cursor: hand;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: GhostWhite;
    color: #47748b;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: GhostWhite;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #47748b;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background: GhostWhite;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {*/
    /*content: '\e259';*/
    /*display: block;*/
    /*position: absolute;*/
    /*right: 20px;*/
/*}*/
/*a[aria-expanded="true"]::before {*/
    /*content: '\e260';*/
/*}*/


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: GhostWhite;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width:100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*doc sidebar style*/
#wrapper_doc {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper_doc {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #fafafa;
    position: fixed;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper_doc.active {
    padding-left: 0;
}

#wrapper_doc.active #sidebar-wrapper_doc {
    left: 0;
}

#page-content-wrapper_doc {
    width: 100%;
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color:#85A3CD;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    font-size: larger;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: royalblue;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 50px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #85A3CD;
    font-weight: bold;
    font-size: larger;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: royalblue;
    background: none;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}
#menu-toggle {
    text-decoration: none;
}
.btn-menu {
    color: #000;
}
.inset {
    padding: 20px;
}
@media (max-width:767px) {

    #wrapper_doc {
        padding-left: 0;
    }

    #sidebar-wrapper_doc {
        left: 0;
    }

    #wrapper_doc.active {
        position: relative;
        left: 250px;
    }

    #wrapper_doc.active #sidebar-wrapper_doc {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}

td {

    white-space:nowrap;overflow:hidden;text-overflow: ellipsis;

}
/*home static*/

/*.carousel-control {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*width: 15%;*/
  /*font-size: 20px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*text-shadow: 0 1px 2px rgba(240,255,255, .6);*/
  /*background-color: rgba(0, 0, 0, 0);*/
  /*filter: alpha(opacity=50);*/
  /*opacity: .5;*/
/*}*/

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(240,255,255, .0001) 0%, rgba(240,255,255, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(240,255,255, .0001) 0%, rgba(240,255,255, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(240,255,255, .0001)), to(rgba(240,255,255, .5)));
  background-image:         linear-gradient(to right, rgba(240,255,255, .0001) 0%, rgba(240,255,255, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(240,255,255, .5) 0%, rgba(240,255,255, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(240,255,255, .5) 0%, rgba(240,255,255, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(240,255,255, .5)), to(rgba(240,255,255, .0001)));
  background-image:         linear-gradient(to right, rgba(240,255,255, .5) 0%, rgba(240,255,255, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}