<a href="#!/"><img id="title_pic" src="/static/AnimalTFDB3/image/title_pic_final.png" style="width:100%"></a>
<nav id="home_nav" class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
            <li><a href="#!/"><span style="color:#17365D;font-weight: bold">Home</span></a></li>
            <li><a href="#!/family"><span style="color:#17365D;font-weight: bold">Family</span></a></li>
            <li><a href="#!/species"><span style="color:#17365D;font-weight: bold">Species</span></a></li>
            <li><a href="#!/search"><span style="color:#17365D;font-weight: bold">Search</span></a></li>
            <li><a href="#!/predict"><span style="color:#17365D;font-weight: bold">Predict TF</span></a></li>
            <li><a href="#!/tfbs_predict"><span style="color:#17365D;font-weight: bold">Predict TFBS</span></a></li>
            <li><a href="#!/blast"><span style="color:#17365D;font-weight: bold">Blast</span></a></li>
            <li><a href="#!/download"><span style="color:#17365D;font-weight: bold">Download</span></a></li>
            <li><a href="#!/document"><span style="color:#17365D;font-weight: bold">Document</span></a></li>
            <li><a href="#!/citation"><span style="color:#17365D;font-weight: bold">Citation</span></a></li>
            <li><a href="http://bioinfo.life.hust.edu.cn/HumanTFDB" target="_blank"><span style="color: coral;font-weight: bold;font-size: larger;margin-left: 50px">HumanTFDB</span></a></li>
            <li><a href="http://bioinfo.life.hust.edu.cn/AnimalTFDB2" target="_blank"><span style="color: coral;font-weight: bold;font-size: larger">AnimalTFDB2.0</span></a></li>
        </ul>
        <form class="navbar-form navbar-right" ng-controller="QuickSearchController">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="input">
                <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
            </div>
        </form>
    </div>
</nav>


