<div class="row">
    <div class="col-lg-6">
        <div class="panel" style="height: 500px">
            <div class="panel-heading" style="background-color:  #BCCEE7"><span
                    style="color:gold; font-size: large; font-weight: bold">Blast</span></div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="col-sm-2">Program</label>
                        <div class="col-sm-4">
                            <select id="blast" class="form-control" style="width: 220px">
                                <option selected="selected">Blastp: protein vs protein</option>
                                <option>Blastx: DNA vs protein</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-2">Species</label>
                        <div class="col-sm-4">
                            <select id="species" class="form-control" style="width: 220px;">
                                <option value="all" selected="selected">All Species</option>
                                <option value="aime">Ailuropoda melanoleuca</option>
                                <option value="anpl">Anas platyrhynchos</option>
                                <option value="anca">Anolis carolinensis</option>
                                <option>Aotus_nancymaae</option>
                                <option value="asme">Astyanax mexicanus</option>
                                <option value="bota">Bos taurus</option>
                                <option value="cael">Caenorhabditis elegans</option>
                                <option value="caja">Callithrix jacchus</option>
                                <option value="cafa">Canis familiaris</option>
                                <option>Capra_hircus</option>
                                <option>Carlito_syrichta</option>
                                <option>Cavia_aperea</option>
                                <option value="capo">Cavia porcellus</option>
                                <option>Cebus_capucinus</option>
                                <option>Cercocebus_atys</option>
                                <option>Chinchilla_lanigera</option>
                                <option>Chlorocebus_sabaeus</option>
                                <option value="chho">Choloepus hoffmanni</option>
                                <option value="ciin">Ciona intestinalis</option>
                                <option value="cisa">Ciona savignyi</option>
                                <option>Colobus_angolensis_palliatus</option>
                                <option>Cricetulus_griseus_chok1gshd</option>
                                <option>Cricetulus_griseus_crigri</option>
                                <option value="dare">Danio rerio</option>
                                <option value="dano">Dasypus novemcinctus</option>
                                <option value="dior">Dipodomys ordii</option>
                                <option value="drme">Drosophila melanogaster</option>
                                <option value="ecte">Echinops telfairi</option>
                                <option value="eqca">Equus caballus</option>
                                <option value="ereu">Erinaceus europaeus</option>
                                <option value="feca">Felis catus</option>
                                <option value="fial">Ficedula albicollis</option>
                                <option>Fukomys_damarensis</option>
                                <option value="gamo">Gadus morhua</option>
                                <option value="gaga">Gallus gallus</option>
                                <option value="gaac">Gasterosteus aculeatus</option>
                                <option value="gogo">Gorilla gorilla</option>
                                <option>Heterocephalus_glaber_female</option>
                                <option>Heterocephalus_glaber_male</option>
                                <option value="hosa">Homo sapiens</option>
                                <option value="ictr">Ictidomys tridecemlineatus</option>
                                <option>Jaculus_jaculus</option>
                                <option value="lach">Latimeria chalumnae</option>
                                <option value="leoc">Lepisosteus oculatus</option>
                                <option value="loaf">Loxodonta africana</option>
                                <option>Macaca_fascicularis</option>
                                <option value="mamu">Macaca mulatta</option>
                                <option value="maeu">Macaca_nemestrina</option>
                                <option>Mandrillus_leucophaeus</option>
                                <option value="mega">Meleagris gallopavo</option>
                                <option>Mesocricetus_auratus</option>
                                <option value="mimu">Microcebus murinus</option>
                                <option>Microtus_ochrogaster</option>
                                <option value="modo">Monodelphis domestica</option>
                                <option>Mus_caroli</option>
                                <option value="mumu">Mus musculus</option>
                                <option>Mus_pahari</option>
                                <option>Mus_spretus</option>
                                <option value="mupu">Mustela putorius furo</option>
                                <option value="mylu">Myotis lucifugus</option>
                                <option>Nannospalax_galili</option>
                                <option value="nole">Nomascus leucogenys</option>
                                <option>Notamacropus_eugenii</option>
                                <option value="ocpr">Ochotona princeps</option>
                                <option>Octodon_degus</option>
                                <option value="orni">Oreochromis niloticus</option>
                                <option value="oran">Ornithorhynchus anatinus</option>
                                <option value="orcu">Oryctolagus cuniculus</option>
                                <option value="orla">Oryzias latipes</option>
                                <option value="otga">Otolemur garnettii</option>
                                <option value="ovar">Ovis aries</option>
                                <option>Pan_paniscus</option>
                                <option value="patr">Pan troglodytes</option>
                                <option>Papio_anubis</option>
                                <option value="pesi">Pelodiscus sinensis</option>
                                <option>Peromyscus_maniculatus_bairdii</option>
                                <option value="pema">Petromyzon marinus</option>
                                <option>Poecilia_formosa</option>
                                <option value="poab">Pongo abelii</option>
                                <option value="prca">Procavia capensis</option>
                                <option>Propithecus_coquereli</option>
                                <option value="ptva">Pteropus vampyrus</option>
                                <option value="rano">Rattus norvegicus</option>
                                <option>Rhinopithecus_bieti</option>
                                <option>Rhinopithecus_roxellana</option>
                                <option>Saccharomyces_cerevisiae</option>
                                <option>Saimiri_boliviensis_boliviensis</option>
                                <option value="saha">Sarcophilus harrisii</option>
                                <option value="soar">Sorex araneus</option>
                                <option value="susc">Sus scrofa</option>
                                <option value="tagu">Taeniopygia guttata</option>
                                <option value="taru">Takifugu rubripes</option>
                                <option value="teni">Tetraodon nigroviridis</option>
                                <option value="tube">Tupaia belangeri</option>
                                <option value="tutr">Tursiops truncatus</option>
                                <option value="vipa">Vicugna pacos</option>
                                <option value="xetr">Xenopus tropicalis</option>
                                <option value="xima">Xiphophorus maculatus</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p>Input a protein or DNA sequence in <a href="http://en.wikipedia.org/wiki/FASTA_format">FASTA</a> format:<a href="#!/blast" ng-click="load()">example</a>.</p>
                <textarea class="form-control" id="input_seq" style="width: 97%;height: 250px"></textarea>
                <br>
                <div style="text-align: right;margin-right: 27px">
                    <button class="btn btn-default" type="reset" ng-click="reset()">Reset</button>
                    <button class="btn btn-default" type="submit" ng-click="get_result()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel" style="height: 500px">
            <div class="panel-heading" style="background-color:  #BCCEE7"><span
                    style="color:gold;font-size: large;font-weight: bold">Results</span></div>
            <div class="panel-body">
                <div ng-show="predict_start" style="width:100%; text-align: center;margin-top: 150px">
                    <img src="/static/AnimalTFDB3/image/loading.gif" style="width: 100px;height: 100px;" alt="loading...">
                </div>
                <div ng-show="result">
                    <h4 style="font-weight: bold;text-align: center">Blast Result</h4>
                    <a class="form-control btn btn-default" href="">Full</a>
                </div>
            </div>
        </div>
    </div>
</div>