
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="sidebar-header">
                    <h3>Family categories</h3>
                </div>
                <ul class="list-unstyled" id="family_ul">
                    <li style="color:black; font-weight: bold">Basic Domains Group</li>
                    <ul id="bdg" class="list-unstyled">
                        <li><a href="#!/family">AP-2</a></li>
                        <li><a href="#!/family">bHLH</a></li>
                        <li><a href="#!/family">Nrf1</a></li>
                        <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_more(1)"
                            ng-hide="one">3 more
                        </li>
                        <div ng-show="one">
                            <li><a href="#!/family">RFX</a></li>
                            <li><a href="#!/family">TF_bZIP</a></li>
                            <li><a href="#!/family">TSC22</a></li>
                            <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_less(1)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Beta-Scaffold Factors</li>
                    <ul id="bsf" class="list-unstyled">
                        <li><a href="#!/family">CBF</a></li>
                        <li><a href="#!/family">CP2</a></li>
                        <li><a href="#!/family">CSD</a></li>
                        <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_more(2)"
                            ng-hide="two">6 more
                        </li>
                        <div ng-show="two">
                            <li><a href="#!/family">CSL</a></li>
                            <li><a href="#!/family">GCM</a></li>
                            <li><a href="#!/family">P53</a></li>
                            <li><a href="#!/family">RHD</a></li>
                            <li><a href="#!/family">Runt</a></li>
                            <li><a href="#!/family">STAT</a></li>
                            <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_less(2)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Helex-turn-helix</li>
                    <ul id="hth" class="list-unstyled">
                        <li><a href="#!/family">ARID</a></li>
                        <li><a href="#!/family">COE</a></li>
                        <li><a href="#!/family">CUT</a></li>
                        <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_more(3)"
                            ng-hide="three">14 more
                        </li>
                        <div ng-show="three">
                            <li><a href="#!/family">E2F</a></li>
                            <li><a href="#!/family">ETS</a></li>
                            <li><a href="#!/family">Fork_head</a></li>
                            <li><a href="#!/family">Homeobox</a></li>
                            <li><a href="#!/family">HPD</a></li>
                            <li><a href="#!/family">HSF</a></li>
                            <li><a href="#!/family">HTH</a></li>
                            <li><a href="#!/family">IRF</a></li>
                            <li><a href="#!/family">MYB</a></li>
                            <li><a href="#!/family">PAX</a></li>
                            <li><a href="#!/family">Pou</a></li>
                            <li><a href="#!/family">SRF</a></li>
                            <li><a href="#!/family">TEA</a></li>
                            <li><a href="#!/family">TF_Otx</a></li>
                            <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_less(3)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Other Alpha-Helix Group</li>
                    <ul id="oahg" class="list-unstyled">
                        <li><a href="#!/family">GTF2I</a></li>
                        <li><a href="#!/family">HMG</a></li>
                        <li><a href="#!/family">NF-YA</a></li>
                        <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_more(4)"
                            ng-hide="four">3 more
                        </li>
                        <div ng-show="four">
                            <li><a href="#!/family">NF-YB</a></li>
                            <li><a href="#!/family">NF-YC</a></li>
                            <li><a href="#!/family">SAND</a></li>
                            <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_less(4)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Unclassified Structure</li>
                    <ul id="uns" class="list-unstyled">
                        <li><a href="#!/family">AF-4</a></li>
                        <li><a href="#!/family">CG-1</a></li>
                        <li><a href="#!/family">CTF/NFI</a></li>
                        <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_more(5)"
                            ng-hide="five">13 more
                        </li>
                        <div ng-show="five">
                            <li><a href="#!/family">CSRNP_N</a></li>
                            <li><a href="#!/family">DACH</a></li>
                            <li><a href="#!/family">GCFC</a></li>
                            <li><a href="#!/family">HMGA</a></li>
                            <li><a href="#!/family">LRRFIP</a></li>
                            <li><a href="#!/family">MBD</a></li>
                            <li><a href="#!/family">MH1</a></li>
                            <li><a href="#!/family">NCU-G1</a></li>
                            <li><a href="#!/family">NDT80/PhoG</a></li>
                            <li><a href="#!/family">PC4</a></li>
                            <li><a href="#!/family">T-box</a></li>
                             <li><a href="#!/family">TF_others</a></li>
                            <li><a href="#!/family">Tub</a></li>
                            <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_less(5)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Zinc-Coordinating Group</li>
                    <ul id="zcg" class="list-unstyled">
                        <li><a href="#!/family">DM</a></li>
                        <li><a href="#!/family">ESR-like</a></li>
                        <li><a href="#!/family">GCNF-like</a></li>
                        <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_more(6)"
                            ng-hide="six">16 more
                        </li>
                        <div ng-show="six">
                            <li><a href="#!/family">Miscellaneous</a></li>
                            <li><a href="#!/family">NGFIB-like</a></li>
                            <li><a href="#!/family">RXR-like</a></li>
                            <li><a href="#!/family">SF-like</a></li>
                            <li><a href="#!/family">THAP</a></li>
                            <li><a href="#!/family">THR-like</a></li>
                            <li><a href="#!/family">ZBTB</a></li>
                            <li><a href="#!/family">zf-BED</a></li>
                            <li><a href="#!/family">zf-C2H2</a></li>
                            <li><a href="#!/family">zf-C2HC</a></li>
                            <li><a href="#!/family">zf-GAGA</a></li>
                            <li><a href="#!/family">zf-GATA</a></li>
                            <li><a href="#!/family">zf-CCCH</a></li>
                            <li><a href="#!/family">zf-H2C2_2</a></li>
                            <li><a href="#!/family">zf-LITAF-like</a></li>
                            <li><a href="#!/family">zf-MIZ</a></li>
                            <li><a href="#!/family">zf-NF-X1</a></li>
                            <li style="text-align: right;margin-right: 5px;color: lightgray" ng-click="show_less(6)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content Holder -->
    <div class="row" style="margin-top: 0px;padding-top: 0px">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>
    </div>
    <div id="content">
        <div class="panel" style="width: 100%">
            <div class="panel-body">
                 <span>
                <ng-echarts ec-config="lineConfig"  ec-option="lineOption" style="width: 1500px;height: 300px"></ng-echarts>
                </span>
            </div>
        </div>
        <div class="panel" style="width: 100%">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group" style="margin-left: 5px;margin-left: 5px">
                        <img src="/static/AnimalTFDB3/image/species/{$ species $}.png" style="width: 25px;height: 25px"><span style="margin-left: 5px;font-weight: bold">{$ species_title $}</span><span style="margin-left: 20px;font-weight: bold">Family:</span><span>{$ family $}</span><span style="margin-left: 20px;font-weight: bold">DNA Binding Domain:{$ dbd $}&nbsp;</span>
                        <span ng-show="link_tag"><a href="http://pfam.xfam.org/family/{$ id $}" target="_blank">{$ id $}</a></span>
                        <span ng-show="sing_tag"><a href="http://www.ebi.ac.uk/interpro/DisplayIproEntry?ac={$ id $}" target="_blank">{$ id $}</a></span>
                        <span ng-show="self_tag">{$ id $}</span>
                        <span style="margin-left: 20px;font-weight: bold">Item number:</span><span>{$ tf_count $}</span>
                        <div class="pull-right">
                            <select class="form-control" id="species" ng-click="species_change()">
                                <option>Ailuropoda melanoleuca</option>
                                <option>Anas platyrhynchos</option>
                                <option>Anolis carolinensis</option>
                                <option>Aotus nancymaae</option>
                                <option>Astyanax mexicanus</option>
                                <option>Bos taurus</option>
                                <option>Caenorhabditis elegans</option>
                                <option>Callithrix jacchus</option>
                                <option>Canis familiaris</option>
                                <option>Capra hircus</option>
                                <option>Carlito syrichta</option>
                                <option>Cavia aperea</option>
                                <option>Cavia porcellus</option>
                                <option>Cebus capucinus</option>
                                <option>Cercocebus atys</option>
                                <option>Chinchilla lanigera</option>
                                <option>Chlorocebus sabaeus</option>
                                <option>Choloepus hoffmanni</option>
                                <option>Ciona intestinalis</option>
                                <option>Ciona savignyi</option>
                                <option>Colobus angolensis palliatus</option>
                                <option>Cricetulus griseus chok1gshd</option>
                                <option>Cricetulus griseus crigri</option>
                                <option>Danio rerio</option>
                                <option>Dasypus novemcinctus</option>
                                <option>Dipodomys ordii</option>
                                <option>Drosophila melanogaster</option>
                                <option>Echinops telfairi</option>
                                <option>Equus caballus</option>
                                <option>Erinaceus europaeus</option>
                                <option>Felis catus</option>
                                <option>Ficedula albicollis</option>
                                <option>Fukomys damarensis</option>
                                <option>Gadus morhua</option>
                                <option>Gallus gallus</option>
                                <option>Gasterosteus aculeatus</option>
                                <option>Gorilla gorilla</option>
                                <option>Heterocephalus glaber female</option>
                                <option>Heterocephalus glaber male</option>
                                <option>Homo sapiens</option>
                                <option>Ictidomys tridecemlineatus</option>
                                <option>Jaculus jaculus</option>
                                <option>Latimeria chalumnae</option>
                                <option>Lepisosteus oculatus</option>
                                <option>Loxodonta africana</option>
                                <option>Macaca fascicularis</option>
                                <option>Macaca mulatta</option>
                                <option>Macaca nemestrina</option>
                                <option>Mandrillus leucophaeus</option>
                                <option>Meleagris gallopavo</option>
                                <option>Mesocricetus auratus</option>
                                <option>Microcebus murinus</option>
                                <option>Microtus ochrogaster</option>
                                <option>Monodelphis domestica</option>
                                <option>Mus caroli</option>
                                <option>Mus musculus</option>
                                <option>Mus pahari</option>
                                <option>Mus spretus</option>
                                <option>Mustela putorius furo</option>
                                <option>Myotis lucifugus</option>
                                <option>Nannospalax galili</option>
                                <option>Nomascus leucogenys</option>
                                <option>Notamacropus eugenii</option>
                                <option>Ochotona princeps</option>
                                <option>Octodon degus</option>
                                <option>Oreochromis niloticus</option>
                                <option>Ornithorhynchus anatinus</option>
                                <option>Oryctolagus cuniculus</option>
                                <option>Oryzias latipes</option>
                                <option>Otolemur garnettii</option>
                                <option>Ovis aries</option>
                                <option>Pan paniscus</option>
                                <option>Pan troglodytes</option>
                                <option>Papio anubis</option>
                                <option>Pelodiscus sinensis</option>
                                <option>Peromyscus maniculatus bairdii</option>
                                <option>Petromyzon marinus</option>
                                <option>Poecilia formosa</option>
                                <option>Pongo abelii</option>
                                <option>Procavia capensis</option>
                                <option>Propithecus coquereli</option>
                                <option>Pteropus vampyrus</option>
                                <option>Rattus norvegicus</option>
                                <option>Rhinopithecus bieti</option>
                                <option>Rhinopithecus roxellana</option>
                                <option>Saimiri boliviensis boliviensis</option>
                                <option>Sarcophilus harrisii</option>
                                <option>Sorex araneus</option>
                                <option>Sus scrofa</option>
                                <option>Taeniopygia guttata</option>
                                <option>Takifugu rubripes</option>
                                <option>Tetraodon nigroviridis</option>
                                <option>Tupaia belangeri</option>
                                <option>Tursiops truncatus</option>
                                <option>Vicugna pacos</option>
                                <option>Xenopus tropicalis</option>
                                <option>Xiphophorus maculatus</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="divider">
                <table ng-show="tf_count" ts-wrapper class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed" >
                    <thead>
                    <tr>
                        <th ts-criteria="ensembl" ts-default style="width: 12%">Ensembl ID</th>
                        <th ts-criteria="entrez">Entrez ID</th>
                        <th style="width:5%" ts-criteria="symbl">Symbol</th>
                        <th ts-criteria="alia">Alias</th>
                        <th ts-criteria="fullname">Full Name</th>
                        <th ts-criteria="protein">Protein <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Protein with DBD predicted"></span></th>
                        <th style="width: 5%">Alignment</th>
                        <th style="width: 5%">Phy logenetic Tree</th>
                        <th style="width: 5%">WebLogo</th>
                        <th style="width: 5%">Domain</th>
                        <th style="width: 5%">GO</th>
                        <th style="width: 5%">Pathway</th>
                        <th style="width: 5%">Phenotype</th>
                        <th style="width: 5%">PPI</th>
                        <th style="width: 5%">Paralog</th>
                        <th style="width: 5%">Ortholog</th>
                        <th style="width: 5%">Expression</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tf_list" ts-repeat ts-hide-no-data>
                        <td title="{$ item.ensembl $}"><a href="#!tf_gene_info?tf={$item.ensembl$}" target="_self">{$ item.ensembl $}</a></td>
                        <td title="{$ item.entrez$}"><a href="http://www.ncbi.nlm.nih.gov/gene/{$item.entrez$}" target="_blank">{$ item.entrez$}</a></td>
                        <td title="{$ item.symbl $}">{$ item.symbl $}</td>
                        <td title="{$ item.alia $}">{$ item.alia $}</td>
                        <td title="{$item.fullname$}">{$ item.fullname $}</td>
                        <td title="{$item.protein$}">{$item.protein$}</td>
                        <td> <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)">show</button></td>
                        <td> <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)">show</button></td>
                        <td> <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)">show</button></td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.domain"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.domain"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.go"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.go"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.pathway"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.pathway"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Pheanotype"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Pheanotype"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.PPI"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.PPI"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Paralog"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Paralog"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Ortholog"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Ortholog"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Expression"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Expression"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="well"style="background-color: #4682B4;color: white;"  ng-show="tf_zero">There were 0 item in the selected family</div>
            </div>
        </div>
    </div>
</div>
<div class="fade" tabindex="-1">
    <div class="dialog">
        <div class="content"></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {$ modal_header $}
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

