
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="sidebar-header">
                    <h3>Family categories</h3>
                </div>
                <ul class="list-unstyled" id="family_ul">
                    <li style="color:black; font-weight: bold"><a href="#!/family#basic" data-toggle="collapse"><img src="/static/AnimalTFDB3/image/navigation.png">Basic Domains Group</a></li>
                    <ul id="basic" class="list-unstyled nav collapse">
                        <li class="cursor-hand"><a>AP-2</a></li>
                        <li class="cursor-hand"><a>bHLH</a></li>
                        <li class="cursor-hand"><a>Nrf1</a></li>
                        <li class="cursor-hand"><a>RFX</a></li>
                        <li class="cursor-hand"><a>TF_bZIP</a></li>
                        <li class="cursor-hand"><a>TSC22</a></li>
                    </ul>
                    <li style="color:black; font-weight: bold"><a href="#!/family#beta" data-toggle="collapse"><img src="/static/AnimalTFDB3/image/navigation.png">Beta-Scaffold Factors</a></li>
                    <ul id="beta" class="list-unstyled nav collapse">
                        <li class="cursor-hand"><a>CBF</a></li>
                        <li class="cursor-hand"><a>CEP-1</a></li>
                        <li class="cursor-hand"><a>CP2</a></li>
                        <li class="cursor-hand"><a>CSD</a></li>
                        <li class="cursor-hand"><a>CSL</a></li>
                        <li class="cursor-hand"><a>GCM</a></li>
                        <li class="cursor-hand"><a>P53</a></li>
                        <li class="cursor-hand"><a>RHD</a></li>
                        <li class="cursor-hand"><a>Runt</a></li>
                        <li class="cursor-hand"><a>STAT</a></li>
                    </ul>
                    <li style="color:black; font-weight: bold"><a href="#!/family#helix" data-toggle="collapse"><img src="/static/AnimalTFDB3/image/navigation.png">Helix-turn-helix</a></li>
                    <ul id="helix" class="list-unstyled nav collapse">
                        <li class="cursor-hand"><a>ARID</a></li>
                        <li class="cursor-hand"><a>COE</a></li>
                        <li class="cursor-hand"><a>CUT</a></li>
                        <li class="cursor-hand"><a>E2F</a></li>
                        <li class="cursor-hand"><a>ETS</a></li>
                        <li class="cursor-hand"><a>Fork_head</a></li>
                        <li class="cursor-hand"><a>Homeobox</a></li>
                        <li class="cursor-hand"><a>HPD</a></li>
                        <li class="cursor-hand"><a>HSF</a></li>
                        <li class="cursor-hand"><a>HTH</a></li>
                        <li class="cursor-hand"><a>IRF</a></li>
                        <li class="cursor-hand"><a>MYB</a></li>
                        <li class="cursor-hand"><a>PAX</a></li>
                        <li class="cursor-hand"><a>Pou</a></li>
                        <li class="cursor-hand"><a>SRF</a></li>
                        <li class="cursor-hand"><a>TEA</a></li>
                        <li class="cursor-hand"><a>TF_Otx</a></li>
                    </ul>
                    <li style="color:black; font-weight: bold"><a href="#!/family#alpha" data-toggle="collapse"><img src="/static/AnimalTFDB3/image/navigation.png">Other Alpha-Helix Group</a></li>
                    <ul id="alpha" class="list-unstyled nav collapse">
                        <li class="cursor-hand"><a>GTF2I</a></li>
                        <li class="cursor-hand"><a>HMG</a></li>
                        <li class="cursor-hand"><a>NF-YA</a></li>
                        <li class="cursor-hand"><a>NF-YB</a></li>
                        <li class="cursor-hand"><a>NF-YC</a></li>
                        <li class="cursor-hand"><a>SAND</a></li>
                    </ul>
                    <li style="color:black; font-weight: bold"><a href="#!/family#unclass" data-toggle="collapse"><img src="/static/AnimalTFDB3/image/navigation.png">Unclassified Structure</a></li>
                    <ul id="unclass" class="list-unstyled nav collapse">
                        <li class="cursor-hand"><a>AF-4</a></li>
                        <li class="cursor-hand"><a>CG-1</a></li>
                        <li class="cursor-hand"><a>CTF/NFI</a></li>
                        <li class="cursor-hand"><a>CSRNP_N</a></li>
                        <li class="cursor-hand"><a>DACH</a></li>
                        <li class="cursor-hand"><a>GCFC</a></li>
                        <li class="cursor-hand"><a>HMGA</a></li>
                        <li class="cursor-hand"><a>LRRFIP</a></li>
                        <li class="cursor-hand"><a>MBD</a></li>
                        <li class="cursor-hand"><a>MH1</a></li>
                        <li class="cursor-hand"><a>NCU-G1</a></li>
                        <li class="cursor-hand"><a>NDT80/PhoG</a></li>
                        <li class="cursor-hand"><a>PC4</a></li>
                        <li class="cursor-hand"><a>T-box</a></li>
                        <li class="cursor-hand"><a>TF_others</a></li>
                        <li class="cursor-hand"><a>Tub</a></li>
                    </ul>
                    <li style="color:black; font-weight: bold"><a href="#!/family#zinc" data-toggle="collapse"><img src="/static/AnimalTFDB3/image/navigation.png">Zinc-Coordinating Group</a></li>
                    <ul id="zinc" class="list-unstyled nav collapse">
                        <li class="cursor-hand"><a>DM</a></li>
                        <li class="cursor-hand"><a>ESR-like</a></li>
                        <li class="cursor-hand"><a>GCNF-like</a></li>
                        <li class="cursor-hand"><a>Miscellaneous</a></li>
                        <li class="cursor-hand"><a>NGFIB-like</a></li>
                        <li class="cursor-hand"><a>RXR-like</a></li>
                        <li class="cursor-hand"><a>SF-like</a></li>
                        <li class="cursor-hand"><a>THAP</a></li>
                        <li class="cursor-hand"><a>THR-like</a></li>
                        <li class="cursor-hand"><a>ZBTB</a></li>
                        <li class="cursor-hand"><a>zf-BED</a></li>
                        <li class="cursor-hand"><a>zf-C2H2</a></li>
                        <li class="cursor-hand"><a>zf-C2HC</a></li>
                        <li class="cursor-hand"><a>zf-GAGA</a></li>
                        <li class="cursor-hand"><a>zf-GATA</a></li>
                        <li class="cursor-hand"><a>zf-CCCH</a></li>
                        <li class="cursor-hand"><a>zf-H2C2_2</a></li>
                        <li class="cursor-hand"><a>zf-LITAF-like</a></li>
                        <li class="cursor-hand"><a>zf-MIZ</a></li>
                        <li class="cursor-hand"><a>zf-NF-X1</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content Holder -->
    <div style="margin-top: 0px;padding-top: 0px">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>
    </div>
    <div id="content">
        <div class="panel">
            <div class="panel-body row">
                <div ng-hide="sidebar_item">
                    <div ng-repeat="item in family_list" style="vertical-align: top;display: inline-block;padding: 0">
                        <div class="thumbnail" style="width: 100px;height: 120px;margin-right: 5px;text-align: center">
                            <span class="cursor-hand" data-toggle="modal" data-target="#myModal" ng-click="fetch_family_count(item)"><img src="/static/AnimalTFDB3/image/families-head/{$ item.figure $}.jpg" ng-click="fetch_species_count(item)" class="img-rounded" style="width: 80px;height: 80px"></span>
                            <div class="caption">
                                <p style="font-size: xx-small">{$ item.name $}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="sidebar_item">
                    <div ng-show="loading" style="text-align: center">
                        <img src="/static/AnimalTFDB3/image/loading.gif" style="width: 100px;height: 100px;" alt="loading...">
                    </div>
                    <div ng-hide="loading">
                        <div style="width: 100%">
                            <span><ng-echarts id="sidebar_barchart" ec-config="lineConfig"  ec-option="lineOption" style="width:1800px;height: 300px;margin-bottom: 10px;margin-left: 20%" ></ng-echarts></span>
                            <div class="well" style="width: 100%;text-align: center">
                                <table width="100%" border="0" cellpadding="0" style="table-layout:fixed" class="table table-bordered table-striped table-hover table-condensed tablesorter tablesorter-bootstrap ng-scope">
                                    <tbody>
                                    <tr ng-repeat="item in family_count_list" style="display: inline;">
                                        <td style="width: 230px"><a href="#!/tf_detail?species={$ item.species $}&family={$ family $}" target="_self">{$ item.species $}</a>({$ item.count $})</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fade" tabindex="-1">
    <div class="dialog">
        <div class="content"></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%;height: 100%;text-align: center; horiz-align:center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {$ modal_header $}
                </h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                <span><ng-echarts id="barchart" ec-config="lineConfig"  ec-option="lineOption" style="width:1800px;height: 300px;margin-bottom: 10px;margin-left: 20%" ></ng-echarts></span>
                <div class="well" style="width: 100%;text-align: center">
                    <table width="100%" border="0" cellpadding="0" style="table-layout:fixed" class="table table-bordered table-striped table-hover table-condensed tablesorter tablesorter-bootstrap ng-scope">
                        <tbody>
                        <tr ng-repeat="item in family_count_list" style="display: inline;">
                            <td style="width: 250px"><a href="#!/tf_detail?species={$ item.species $}&family={$ family $}" target="_blank">{$ item.species $}</a>({$ item.count $})</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer" style="width: 100%;text-align: center">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

