
<ul id="myTab" class="nav nav-tabs">
    <li class="active" ng-click="show_tf()">
        <a  style="font-weight: bolder" data-toggle="tab">
            TF family
        </a>
    </li>
    <li  ng-click="show_cofactor()">
        <a data-toggle="tab" style="font-weight: bolder">TF Cofactor family</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div ng-show="tf_click">
        <div class="tab-pane fade in active" id="tf_tab" style="width: 100%;text-align: center">
            <div ng-repeat="item in family_list" style="vertical-align: top;display: inline-block;padding: 0">
                <div class="thumbnail" style="width: 100px;height: 120px;margin-right: 5px;text-align: center">
                    <span class="cursor-hand" data-toggle="modal" data-target="#myModal"><a href="#!/tf_summary?family={$item.name$}" target="_self"><img src="/static/AnimalTFDB3/image/families-head/{$ item.figure $}.jpg" class="img-rounded" style="width: 80px;height: 80px"></a></span>
                    <div class="caption">
                        <p style="font-size: small">{$ item.name $}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="cofactor_click">
        <div class="tab-pane fade in active" id="tf_cofactors" style="width: 100%;text-align: center">
            <table width="100%" border="0" cellpadding="0" style="table-layout:fixed" class="table table-bordered table-striped table-hover table-condensed tablesorter tablesorter-bootstrap ng-scope">
                <tbody>
                <tr ng-repeat="item in cofactors_family_list" style="display: inline;">
                    <td style="width: 215px"><a href= "#!/tf_summary?family={$item.family$}&cofactors=1" target="_self">{$ item.family $}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-show="test">
    <div class="panel panel-default" ng-show="tf_click">
        <div class="panel-heading" data-toggle="collapse"  data-target="#collapsetf">TF family</div>
        <div id="collapsetf" class="panel-body row panel-collapse collapse in" style="margin-left: 10px">
            <div ng-repeat="item in family_list" style="vertical-align: top;display: inline-block;padding: 0">
                <div class="thumbnail" style="width: 100px;height: 120px;margin-right: 5px;text-align: center">
                    <span class="cursor-hand" data-toggle="modal" data-target="#myModal" ng-click="fetch_family_count(item)"><img src="/static/AnimalTFDB3/image/families-head/{$ item.figure $}.jpg" ng-click="fetch_species_count(item)" class="img-rounded" style="width: 80px;height: 80px"></span>
                    <div class="caption">
                        <p style="font-size: xx-small">{$ item.name $}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" >
        <div class="panel-heading" data-toggle="collapse"  data-target="#collapsetf_co">TF Cofactor family</div>
        <div id="collapsetf_co" class="panel-body row panel-collapse collapse in" style="margin-left: 50px">
            <table width="100%" border="0" cellpadding="0" style="table-layout:fixed" class="table table-bordered table-striped table-hover table-condensed tablesorter tablesorter-bootstrap ng-scope">
                <tbody>
                <tr ng-repeat="item in cofactors_family_list" style="display: inline;">
                    <td style="width: 130px"><a href= "#!/tf_summary?family={$item.family$}&cofactors=1" target="_self">{$ item.family $}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
