<div id="wrapper_doc">
    <!-- Sidebar -->
    <div id="sidebar-wrapper_doc">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li ng-show="species">
                    <div><a href="#!tf_gene_info/?tf={$ gene $}#info"><span class="fa fa-anchor solo">Infomation</span></a></div>
                </li>
                <li ng-show="species">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#structure" data-scroll><span class="fa fa-anchor solo">Gene model</span></a></div>
                </li>
                <li ng-show="domain_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#domain" data-scroll><span class="fa fa-anchor solo">Domain</span></a></div>
                </li>
                <li ng-show="go_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#go" data-scroll><span class="fa fa-anchor solo">GO</span></a></div>
                </li>
                <li ng-show="pathway_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#pathway" data-scroll><span class="fa fa-anchor solo">Pathway</span></a></div>
                </li>
                <li ng-show="phenotype_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#phenotype" data-scroll><span class="fa fa-anchor solo">Phenotype</span></a></div>
                </li>
                <li ng-show="ppi_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#ppi" data-scroll><span class="fa fa-anchor solo">PPI</span></a></div>
                </li>
                <li ng-show="paralog_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#paralog" data-scroll><span class="fa fa-anchor solo">Paralog</span></a></div>
                </li>
                <li ng-show="ortholog_list.length">
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#ortholog" data-scroll><span class="fa fa-anchor solo">Ortholog</span></a></div>
                </li>
                <li>
                    <div><a  href="#!tf_gene_info/?tf={$ gene $}#expression" data-scroll><span class="fa fa-anchor solo">Expression</span></a></div>
                </li>
            </ul>
        </nav>

    </div>
    <!-- Page content -->
    <div id="page-content-wrapper_doc">
        <div class="content-header">
            <h4 id="home">
                <div ng-show="species">
                <a id="menu-toggle" href="#!/tf_gene_info?tf={$gene$}#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                    <i class="fa fa-bars"></i>
                </a>
                    <img src="/static/AnimalTFDB3/image/species/{$ species $}.png" style="width: 35px;height: 35px">{$species_title$}<span style="margin-left: 30px">Family:{$ family $}</span>
                </div>
            </h4>
        </div>
        <hr class="divider">
        <div class="page-content inset" ng-hide="species">
            <div class="well">
                Sorry, the query item is not exist
            </div>
        </div>
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="panel panel-primary" id="info" ng-show="species">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Gene Card</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            Basic information
                            <hr class="divider">
                            <dl class="dl-horizontal">
                                <div class="pre-scrollable" style="height: 300px">
                                    <dt>Ensembl ID</dt>
                                    <dd>
                                        <a href="http://www.ensembl.org/Ailuropoda_melanoleuca/Gene/Summary?g={$ tf.gene $}">{$ tf.ensembl $}</a>
                                    </dd>
                                    <dt>Gene ID</dt>
                                    <dd><a href="http://www.ncbi.nlm.nih.gov/gene/{$ tf.gene $}">{$ tf.gene $}</a></dd>
                                    <dt>Gene Symbol</dt>
                                    <dd>{$tf.symbl$}</dd>
                                    <dt>Alias</dt>
                                    <dd>{$ tf.alia $}</dd>
                                    <dt>Full Name</dt>
                                    <dd>{$ tf.fullname $}</dd>
                                    <dt>Gene Type</dt>
                                    <dd>{$ tf.gene_type $}</dd>
                                    <dt>Strand</dt>
                                    <dd>{$ tf.strand $}</dd>
                                    <dt>Length</dt>
                                    <dd>{$ tf.length $}</dd>
                                    <dt>Position</dt>
                                    <dd>{$ tf.position $}</dd>
                                    <dt>HGNG</dt>
                                    <dd><a href="http://www.genenames.org/cgi-bin/gene_symbol_report?q=data/hgnc_data.php&hgnc_id={$ tf.hgng $}">{$tf.hgng$}</a></dd>
                                    <dt>Evidence</dt>
                                    <dd>{$ tf.evidence $}</dd>
                                    <dt>Cross Link</dt>
                                    <dd>{$ tf.crosslink $}</dd>
                                    <dt>Summary</dt>
                                    <dd>{$ tf.summary $}</dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            Transcripts
                            <hr class="divider">
                            <div class="pre-scrollable" style="height: 300px">
                                <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                                    <thead>
                                    <tr>
                                        <th ts-criteria="transcript" ts-default style="width: 12%">Transcript ID</th>
                                        <th ts-criteria="name">Name</th>
                                        <th ts-criteria="t_length">Length<span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Transcripts length(bp)"></span></th>
                                        <th ts-criteria="refseq">Refseq ID</th>
                                        <th ts-criteria="protein">Protein ID</th>
                                        <th ts-criteria="p_length">Length<span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Protein length(aa)"></span></th>
                                        <th ts-criteria="refseq">Refseq ID</th>
                                        <th ts-criteria="unipro">UniProtKB ID</th>
                                        <th ts-criteria="tf_judge">TF</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in transcript_list" ts-repeat>
                                        <td>{$ item.transcript $}</td>
                                        <td>{$ item.name $}</td>
                                        <td>{$ item.t_length $}</td>
                                        <td>{$ item.refseq $}</td>
                                        <td>{$ item.protein $}</td>
                                        <td>{$ item.p_length $}</td>
                                        <td>{$ item.refseq $}</td>
                                        <td>{$ item.unipro $}</td>
                                        <td>{$ item.tf_judge $}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" id="structure" ng-show="species">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Gene Model</span>
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-primary" id="domain" ng-show="domain_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Domain</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="protein" ts-default style="width: 12%">Protein ID</th>
                            <th ts-criteria="start">Start</th>
                            <th ts-criteria="end">End</th>
                            <th ts-criteria="pfam">Pfam ID</th>
                            <th ts-criteria="hmm">HMM Name</th>
                            <th ts-criteria="type">Type</th>
                            <th ts-criteria="hmm_start">HMM Start</th>
                            <th ts-criteria="hmm_end">HMM End</th>
                            <th ts-criteria="hmm_length">HMM Length</th>
                            <th ts-criteria="score">Score</th>
                            <th ts-criteria="evalue">Evalue</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in domain_list" ts-repeat>
                            <td>{$ item.protein $}</td>
                            <td>{$ item.start $}</td>
                            <td>{$ item.end $}</td>
                            <td>{$ item.pfam $}</td>
                            <td>{$ item.hmm $}</td>
                            <td>{$ item.type $}</td>
                            <td>{$ item.hmm_start $}</td>
                            <td>{$ item.hmm_end $}</td>
                            <td>{$ item.hmm_length $}</td>
                            <td>{$ item.score $}</td>
                            <td>{$ item.evalue $}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="go" ng-show="go_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">GO</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="id" ts-default>GO ID</th>
                            <th ts-criteria="term" width="50%">GO Term</th>
                            <th ts-criteria="pubmed">Pubmed</th>
                            <th ts-criteria="category">Category</th>
                            <th ts-criteria="evidence">Evidence</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in go_list" ts-repeat>
                            <td><a href="http://amigo.geneontology.org/amigo/term/{$ item.id $}">{$ item.id $}</a></td>
                            <td>{$ item.term $}</td>
                            <td><a href="http://www.ncbi.nlm.nih.gov/pubmed?term={$ item.pubmed $}" target="_blank">{$ item.pubmed $}</a></td>
                            <td>{$ item.category $}</td>
                            <td><a href="http://www.geneontology.org/GO.evidence.shtml#{$ item.evidence $}">{$ item.evidence $}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="pathway" ng-show="pathway_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Pathway</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="id" ts-default>Pathway ID</th>
                            <th ts-criteria="name" width="50%">Pathway Name</th>
                            <th ts-criteria="source">Source</th>
                            <th ts-criteria="genes">All genes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in pathway_list" ts-repeat>
                            <td>
                                <a ng-hide="{$ item.kegg $}" href="http://www.genome.jp//kegg-bin/show_pathway?{$ item.id $}">{$ item.id $}</a>
                                <a ng-show="{$ item.kegg $}" href="https://cgap.nci.nih.gov/Pathways/BioCarta/{$ item.id $}">{$ item.id $}</a>
                            </td>
                            <td>{$ item.name $}</td>
                            <td>{$ item.source $}</td>
                            <td><a href="">show all genes</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="phenotype" ng-show="phenotype_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Pheanotype</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="phenotype" ts-default>phenotype</th>
                            <th ts-criteria="reference">Reference ID</th>
                            <th ts-criteria="transcript">Transcript ID</th>
                            <th ts-criteria="gene">Symbol</th>
                            <th ts-criteria="source">Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in phenotype_list" ts-repeat>
                            <td>{$item.phenotype$}</td>
                            <td>{$ item.reference $}</td>
                            <td>{$ item.transcript $}</td>
                            <td>{$ item.gene $}</td>
                            <td><a href="{$ item.url $}">{$ item.source $}</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="panel panel-primary" id="ppi" ng-show="ppi_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">PPI</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="symbol" ts-default>Symbol</th>
                            <th ts-criteria="Status">Status</th>
                            <th ts-criteria="interactor_symbol">Interactor Symbol</th>
                            <th ts-criteria="interactor_id">Interactor ID</th>
                            <th ts-criteria="experimental">Experimental</th>
                            <th ts-criteria="throughput">Throughput</th>
                            <th ts-criteria="pubmed">Pubmed</th>
                            <th ts-criteria="source">Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ppi_list" ts-repeat>
                            <td>{$item.symbol$}</td>
                            <td>{$ item.status $}</td>
                            <td>{$ item.interactor_symbol $}</td>
                            <td><a href="http://view.ncbi.nlm.nih.gov/gene/{$ item.interactor_id $}">{$ item.interactor_id $}</a></td>
                            <td>{$ item.experimental $}</td>
                            <td>{$ item.throughput $}</td>
                            <td><a href="http://www.ncbi.nlm.nih.gov/pubmed?term={$ item.pubmed $}">{$ item.pubmed $}</a></td>
                            <td><a href="{$ item.url $}">{$ item.source $}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="paralog" ng-show="paralog_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Paralog</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="ensembl" ts-default>Ensembl ID</th>
                            <th ts-criteria="symbol">Symbol</th>
                            <th ts-criteria="coverage">Coverage</th>
                            <th ts-criteria="identity">Identity</th>
                            <th ts-criteria="ortholog">Paralog</th>
                            <th ts-criteria="ortholog_symbol">Symbol</th>
                            <th ts-criteria="ortholog_coverage">Coverage</th>
                            <th ts-criteria="ortholog_identity">Identity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in paralog_list" ts-repeat>
                            <td>{$item.ensembl$}</td>
                            <td>{$item.symbol$}</td>
                            <td>{$ item.coverage$}</td>
                            <td>{$ item.identity $}</td>
                            <td><a href="#!/tf_gene_info?tf={$ item.ortholog $}" target="_self">{$ item.ortholog $}</a></td>
                            <td>{$ item.ortholog_symbol $}</td>
                            <td>{$ item.ortholog_coverage $}</td>
                            <td>{$ item.ortholog_identity $}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="ortholog" ng-show="ortholog_list.length">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">Ortholg</span>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="ensembl" ts-default>Ensembl ID</th>
                            <th ts-criteria="symbol">Symbol</th>
                            <th ts-criteria="coverage">Coverage</th>
                            <th ts-criteria="identity">Identity</th>
                            <th ts-criteria="ortholog">Ortholog</th>
                            <th ts-criteria="ortholog_symbol">Symbol</th>
                            <th ts-criteria="ortholog_coverage">Coverage</th>
                            <th ts-criteria="ortholog_identity">Identity</th>
                            <th ts-criteria="ortholog_species">Species</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ortholog_list" ts-repeat>
                            <td>{$item.ensembl$}</td>
                            <td>{$item.symbol$}</td>
                            <td>{$ item.coverage$}</td>
                            <td>{$ item.identity $}</td>
                            <td><a href="#!/tf_gene_info?tf={$ item.ortholog $}" target="_self">{$ item.ortholog $}</a></td>
                            <td>{$ item.ortholog_symbol $}</td>
                            <td>{$ item.ortholog_coverage $}</td>
                            <td>{$ item.ortholog_identity $}</td>
                            <td>{$ item.species $}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="expression">
                <div class="panel-heading" style="background-color: #85A3CD;">
                    <span style="font-weight: bold">expression</span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>