
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="sidebar-header">
                    <h3>Species categories</h3>
                </div>
                <ul class="list-unstyled" id="species_ul">
                    <li style="color:black; font-weight: bold">Primates</li>
                    <ul id="zcg" class="list-unstyled">

                        <li><a href="#!/species">Aotus nancymaae</a></li>
                        <li><a href="#!/species">Callithrix jacchus</a></li>
                        <li><a href="#!/species">Carlito syrichta</a></li>
                        <li><a href="#!/species">Cebus capucinus</a></li>
                        <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_more(6)"
                            ng-hide="six">19 more
                        </li>
                        <div ng-show="six">
                            <li><a href="#!/species">Cercocebus atys</a></li>
                            <li><a href="#!/species">Chlorocebus sabaeus</a></li>
                            <li><a href="#!/species">Colobus angolensis palliatus</a></li>
                            <li><a href="#!/species">Gorilla gorilla</a></li>
                            <li><a href="#!/species">Homo sapiens</a></li>
                            <li><a href="#!/species">Macaca fascicularis</a></li>
                            <li><a href="#!/species">Macaca mulatta</a></li>
                            <li><a href="#!/species">Macaca nemestrina</a></li>
                            <li><a href="#!/species">Mandrillus leucophaeus</a></li>
                            <li><a href="#!/species">Microcebus murinus</a></li>
                            <li><a href="#!/species">Nomascus leucogenys</a></li>
                            <li><a href="#!/species">Otolemur garnettii</a></li>
                            <li><a href="#!/species">Pan paniscus</a></li>
                            <li><a href="#!/species">Pan troglodytes</a></li>
                            <li><a href="#!/species">Papio anubis</a></li>
                            <li><a href="#!/species">Pongo abelii</a></li>
                            <li><a href="#!/species">Propithecus coquereli</a></li>
                            <li><a href="#!/species">Rhinopithecus bieti</a></li>
                            <li><a href="#!/species">Rhinopithecus roxellana</a></li>
                            <li><a href="#!/species">Saimiri boliviensis boliviensis</a></li>
                            <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_less(6)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Rodents</li>
                    <ul id="zcg" class="list-unstyled">
                        <li><a href="#!/species">Cavia aperea</a></li>
                        <li><a href="#!/species">Cavia porcellus</a></li>
                        <li><a href="#!/species">Chinchilla lanigera</a></li>
                        <li><a href="#!/species">Cricetulus griseus chok1gshd</a></li>
                        <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_more(6)"
                            ng-hide="six">20 more
                        </li>
                        <div ng-show="six">
                            <li><a href="#!/species">Cricetulus griseus crigri</a></li>
                            <li><a href="#!/species">Dipodomys ordii</a></li>
                            <li><a href="#!/species">Fukomys damarensis</a></li>
                            <li><a href="#!/species">Heterocephalus glaber female</a></li>
                            <li><a href="#!/species">Heterocephalus glaber male</a></li>
                            <li><a href="#!/species">Ictidomys tridecemlineatus</a></li>
                            <li><a href="#!/species">Jaculus jaculus</a></li>
                            <li><a href="#!/species">Mesocricetus auratus</a></li>
                            <li><a href="#!/species">Microtus ochrogaster</a></li>
                            <li><a href="#!/species">Mus caroli</a></li>
                            <li><a href="#!/species">Mus musculus</a></li>
                            <li><a href="#!/species">Mus pahari</a></li>
                            <li><a href="#!/species">Mus spretus</a></li>
                            <li><a href="#!/species">Nannospalax galili</a></li>
                            <li><a href="#!/species">Ochotona princeps</a></li>
                            <li><a href="#!/species">Octodon degus</a></li>
                            <li><a href="#!/species">Oryctolagus cuniculus/a></li>
                            <li><a href="#!/species">Peromyscus maniculatus bairdii</a></li>
                            <li><a href="#!/species">Rattus norvegicus</a></li>
                            <li><a href="#!/species">Tupaia belangeri</a></li>
                            <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_less(6)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Laurasiatheria</li>
                    <ul id="uns" class="list-unstyled">
                        <li><a href="#!/species">Ailuropoda melanoleuca</a></li>
                        <li><a href="#!/species">Bos taurus</a></li>
                        <li><a href="#!/species">Canis familiaris</a></li>
                        <li><a href="#!/species">Capra hircus</a></li>
                        <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_more(5)"
                            ng-hide="five">11 more
                        </li>
                        <div ng-show="five">
                            <li><a href="#!/species">Equus caballus</a></li>
                            <li><a href="#!/species">Erinaceus europaeus</a></li>
                            <li><a href="#!/species">Felis catus</a></li>
                            <li><a href="#!/species">Mustela putorius furo</a></li>
                            <li><a href="#!/species">Myotis lucifugus</a></li>
                            <li><a href="#!/species">Ovis aries</a></li>
                            <li><a href="#!/species">Pteropus vampyrus</a></li>
                            <li><a href="#!/species">Sorex araneus</a></li>
                            <li><a href="#!/species">Sus scrofa</a></li>
                            <li><a href="#!/species">Tursiops truncatus</a></li>
                            <li><a href="#!/species">Vicugna pacos</a></li>
                            <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_less(5)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Afrotheria</li>
                    <ul id="bdg" class="list-unstyled">
                        <li><a href="#!/species">Echinops telfairi</a></li>
                        <li><a href="#!/species">Loxodonta africana</a></li>
                        <li><a href="#!/species">Procavia capensis</a></li>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Xenarthra</li>
                    <ul id="zcg" class="list-unstyled">
                        <li><a href="#!/species">Choloepus hoffmanni</a></li>
                        <li><a href="#!/species">Dasypus novemcinctus</a></li>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Other Mammals</li>
                    <ul id="zcg" class="list-unstyled">
                        <li><a href="#!/species">Monodelphis domestica</a></li>
                        <li><a href="#!/species">Notamacropus eugenii</a></li>
                        <li><a href="#!/species">Ornithorhynchus anatinus</a></li>
                        <li><a href="#!/species">Sarcophilus harrisii</a></li>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Birds&Reptiles</li>
                    <ul id="hth" class="list-unstyled">
                        <li><a href="#!/species">Anas platyrhynchos</a></li>
                        <li><a href="#!/species">Anolis carolinensis</a></li>
                        <li><a href="#!/species">Ficedula albicollis</a></li>
                        <li><a href="#!/species">Gallus gallus</a></li>
                        <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_more(3)"
                            ng-hide="three">3 more
                        </li>
                        <div ng-show="three">
                            <li><a href="#!/species">Meleagris gallopavo</a></li>
                            <li><a href="#!/species">Pelodiscus sinensis</a></li>
                            <li><a href="#!/species">Taeniopygia guttata</a></li>
                            <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_less(3)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Amphibians</li>
                    <ul id="bsf" class="list-unstyled">
                        <li><a href="#!/species">Xenopus tropicalis</a></li>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Fishes</li>
                    <ul id="oahg" class="list-unstyled">
                        <li><a href="#!/species">Astyanax mexicanus</a></li>
                        <li><a href="#!/species">Danio rerio</a></li>
                        <li><a href="#!/species">Gadus morhua</a></li>
                        <li><a href="#!/species">Gasterosteus aculeatus</a></li>
                        <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_more(4)"
                            ng-hide="four">8 more
                        </li>
                        <div ng-show="four">
                            <li><a href="#!/species">Latimeria chalumnae</a></li>
                            <li><a href="#!/species">Lepisosteus oculatus</a></li>
                            <li><a href="#!/species">Oreochromis niloticus</a></li>
                            <li><a href="#!/species">Oryzias latipes</a></li>
                            <li><a href="#!/species">Poecilia formosa</a></li>
                            <li><a href="#!/species">Takifugu rubripes</a></li>
                            <li><a href="#!/species">Tetraodon nigroviridis</a></li>
                            <li><a href="#!/species">Xiphophorus maculatus</a></li>
                            <li style="text-align: right;margin-right: 5px;color: #FF9999" ng-click="show_less(4)">Less
                                ...
                            </li>
                        </div>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Other Chordates</li>
                    <ul id="zcg" class="list-unstyled">
                        <li><a href="#!/species">Ciona intestinalis</a></li>
                        <li><a href="#!/species">Ciona savignyi</a></li>
                        <li><a href="#!/species">Petromyzon marinus</a></li>
                    </ul>
                    <hr class="divider">
                    <li style="color:black; font-weight: bold">Other Eukaryotes</li>
                    <ul id="zcg" class="list-unstyled">
                        <li><a href="#!/species">Caenorhabditis elegans</a></li>
                        <li><a href="#!/species">Drosophila melanogaster</a></li>
                    </ul>
                    <hr class="divider">
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content Holder -->
    <div class="row" style="margin-top: 0px;padding-top: 0px">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>
    </div>
    <div id="content">
        <div class="panel" style="margin-left: 3px">
            <div class="panel-body">
                <span>
                <ng-echarts id="barchart" ec-config="lineConfig"  ec-option="lineOption" style="width:1500px;height: 300px;margin-bottom: 10px" ></ng-echarts>
                </span>
            </div>
        </div>
        <div class="panel" style="margin-left: 3px">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group" style="margin-left: 5px;margin-right: 5px">
                        <img src="/static/AnimalTFDB3/image/species/{$ species $}.png" style="width: 25px;height: 25px"><span style="margin-left: 5px;font-weight: bold">{$ species_title $}</span><span style="margin-left: 20px;font-weight: bold">Family:</span><span>{$ family $}</span><span style="margin-left: 20px;font-weight: bold">DNA Binding Domain:{$ dbd $}&nbsp;</span>
                        <span ng-show="link_tag"><a href="http://pfam.xfam.org/family/{$ id $}" target="_blank">{$ id $}</a></span>
                        <span ng-show="sing_tag"><a href="http://www.ebi.ac.uk/interpro/DisplayIproEntry?ac={$ id $}" target="_blank">{$ id $}</a></span>
                        <span ng-show="self_tag">{$ id $}</span>
                        <span style="margin-left: 20px;font-weight: bold">Item number:</span><span>{$ tf_count $}</span>
                        <div class="pull-right">
                            <select class="form-control" id="family" ng-click="family_change()">
                                <option>AF-4</option>
                                <option>AP-2</option>
                                <option>ARID</option>
                                <option>bHLH</option>
                                <option>CBF</option>
                                <option>CG-1</option>
                                <option>COE</option>
                                <option>CP2</option>
                                <option>CSD</option>
                                <option>CSL</option>
                                <option>CSRNP_N</option>
                                <option>CTF/NFI</option>
                                <option>CUT</option>
                                <option>DACH</option>
                                <option>DM</option>
                                <option>E2F</option>
                                <option>ESR-like</option>
                                <option>ETS</option>
                                <option>Fork_head</option>
                                <option>GCFC</option>
                                <option>GCM</option>
                                <option>GCNF-like</option>
                                <option>GTF2I</option>
                                <option>HMG</option>
                                <option>HMGA</option>
                                <option>Homeobox</option>
                                <option>HPD</option>
                                <option>HSF</option>
                                <option>HTH</option>
                                <option>IRF</option>
                                <option>LRRFIP</option>
                                <option>MBD</option>
                                <option>MH1</option>
                                <option>Miscellaneous</option>
                                <option>MYB</option>
                                <option>NCU-G1</option>
                                <option>NDT80/PhoG</option>
                                <option>NF-YA</option>
                                <option>NF-YB</option>
                                <option>NF-YC</option>
                                <option>NGFIB-like</option>
                                <option>Nrf1</option>
                                <option>P53</option>
                                <option>PAX</option>
                                <option>PC4</option>
                                <option>Pou</option>
                                <option>RFX</option>
                                <option>RHD</option>
                                <option>Runt</option>
                                <option>RXR-like</option>
                                <option>SAND</option>
                                <option>SF-like</option>
                                <option>SRF</option>
                                <option>STAT</option>
                                <option>T-box</option>
                                <option>TEA</option>
                                <option>TF_bZIP</option>
                                <option>TF_others</option>
                                <option>TF_Otx</option>
                                <option>THAP</option>
                                <option>THR-like</option>
                                <option>TSC22</option>
                                <option>Tub</option>
                                <option>ZBTB</option>
                                <option>zf-BED</option>
                                <option>zf-C2H2</option>
                                <option>zf-C2HC</option>
                                <option>zf-CCCH</option>
                                <option>zf-GAGA</option>
                                <option>zf-GATA</option>
                                <option>zf-H2C2_2</option>
                                <option>zf-LITAF-like</option>
                                <option>zf-MIZ</option>
                                <option>zf-NF-X1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="divider">
                <table ng-show="tf_count"  class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap" style="table-layout: fixed"   ts-wrapper>
                    <thead>
                    <tr>
                        <th ts-criteria="ensembl" ts-default style="width: 12%">Ensembl ID</th>
                        <th ts-criteria="entrez">Entrez ID</th>
                        <th style="width:5%" ts-criteria="symbl">Symbol</th>
                        <th ts-criteria="alia">Alias</th>
                        <th ts-criteria="fullname">Full Name</th>
                        <th ts-criteria="protein">Protein <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Protein with DBD predicted"></span></th>
                        <th style="width: 5%">Alignment</th>
                        <th style="width: 5%">Phy logenetic Tree</th>
                        <th style="width: 5%">WebLogo</th>
                        <th style="width: 5%">Domain</th>
                        <th style="width: 5%">GO</th>
                        <th style="width: 5%">Pathway</th>
                        <th style="width: 5%">Phenotype</th>
                        <th style="width: 5%">PPI</th>
                        <th style="width: 5%">Paralog</th>
                        <th style="width: 5%">Ortholog</th>
                        <th style="width: 5%">Expression</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tf_list" ts-repeat>
                        <td title="{$ item.ensembl $}"><a href="#!tf_gene_info?tf={$item.ensembl$}" target="_self">{$ item.ensembl $}</a></td>
                        <td title="{$ item.entrez$}"><a href="http://www.ncbi.nlm.nih.gov/gene/{$item.entrez$}" target="_blank">{$ item.entrez$}</a></td>
                        <td title="{$ item.symbl $}">{$ item.symbl $}</td>
                        <td title="{$ item.alia $}">{$ item.alia $}</td>
                        <td title="{$item.fullname$}">{$ item.fullname $}</td>
                        <td title="{$item.protein$}">{$item.protein$}</td>
                        <td> <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)">show</button></td>
                        <td> <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)">show</button></td>
                        <td> <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)">show</button></td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.domain"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.domain"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.go"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.go"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.pathway"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.pathway"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Pheanotype"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Pheanotype"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.PPI"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.PPI"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Paralog"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Paralog"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Ortholog"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Ortholog"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: dodgerblue" ng-show="item.Expression"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-show="!item.Expression"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="well"style="background-color: #4682B4;color: white;"  ng-show="tf_zero">There were 0 item in the selected family</div>
            </div>
        </div>
    </div>
</div>
<div class="fade" tabindex="-1">
    <div class="dialog">
        <div class="content"></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {$ modal_header $}
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
