
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="sidebar-header">
                    <h3>Family categories</h3>
                </div>
                <ul class="list-unstyled" id="family_ul">
                    <li><a href="#!/tcf">actin</a></li>
                    <li><a href="#!/tcf">ACTR</a></li>
                    <li><a href="#!/tcf">ankyrin repeat</a></li>
                    <li><a href="#!/tcf">ANP</a></li>
                    <li><a href="#!/tcf">arginine methyltransferase</a></li>
                    <li><a href="#!/tcf">ASCC</a></li>
                    <li><a href="#!/tcf">BCL</a></li>
                    <li><a href="#!/tcf">Bromodomain</a></li>
                    <li><a href="#!/tcf">CAMK</a></li>
                    <li><a href="#!/tcf">casein</a></li>
                    <li><a href="#!/tcf">CCR4-NOT</a></li>
                    <li><a href="#!/tcf">CHD</a></li>
                    <li><a href="#!/tcf">chromobox</a></li>
                    <li><a href="#!/tcf">chromodomain Y</a></li>
                    <li><a href="#!/tcf">CITED</a></li>
                    <li><a href="#!/tcf">coiled-coil</a></li>
                    <li><a href="#!/tcf">CREB</a></li>
                    <li><a href="#!/tcf">cyclin</a></li>
                    <li><a href="#!/tcf">DEAD-box helicase</a></li>
                    <li><a href="#!/tcf">DEAH-box helicase</a></li>
                    <li><a href="#!/tcf">DNA_methylase</a></li>
                    <li><a href="#!/tcf">DPF</a></li>
                    <li><a href="#!/tcf">EID</a></li>
                    <li><a href="#!/tcf">ELL</a></li>
                    <li><a href="#!/tcf">ELP</a></li>
                    <li><a href="#!/tcf">erbb2</a></li>
                    <li><a href="#!/tcf">EYA</a></li>
                    <li><a href="#!/tcf">FAM</a></li>
                    <li><a href="#!/tcf">FGF</a></li>
                    <li><a href="#!/tcf">FHL</a></li>
                    <li><a href="#!/tcf">GTF</a></li>
                    <li><a href="#!/tcf">heat shock protein</a></li>
                    <li><a href="#!/tcf">high mobility group</a></li>
                    <li><a href="#!/tcf">HIPK</a></li>
                    <li><a href="#!/tcf">histone cluster 1 H1</a></li>
                    <li><a href="#!/tcf">histone deacetylase</a></li>
                    <li><a href="#!/tcf">histone lysine methyltransferase</a></li>
                    <li><a href="#!/tcf">HNRNP</a></li>
                    <li><a href="#!/tcf">ING</a></li>
                    <li><a href="#!/tcf">INO80 complex</a></li>
                    <li><a href="#!/tcf">interferon</a></li>
                    <li><a href="#!/tcf">interleukin</a></li>
                    <li><a href="#!/tcf">LIM</a></li>
                    <li><a href="#!/tcf">LPIN</a></li>
                    <li><a href="#!/tcf">lysine acetyltransferase</a></li>
                    <li><a href="#!/tcf">lysine demethylase</a></li>
                    <li><a href="#!/tcf">lysine methyltransferase</a></li>
                    <li><a href="#!/tcf">MAGE</a></li>
                    <li><a href="#!/tcf">MAGEA2B MAGE</a></li>
                    <li><a href="#!/tcf">MAML</a></li>
                    <li><a href="#!/tcf">MAPK</a></li>
                    <li><a href="#!/tcf">MBD</a></li>
                    <li><a href="#!/tcf">mediator complex CRSP</a></li>
                    <li><a href="#!/tcf">MIER</a></li>
                    <li><a href="#!/tcf">MTA</a></li>
                    <li><a href="#!/tcf">MYC</a></li>
                    <li><a href="#!/tcf">NELF</a></li>
                    <li><a href="#!/tcf">NFKB associated</a></li>
                    <li><a href="#!/tcf">notch</a></li>
                    <li><a href="#!/tcf">nuclear factor</a></li>
                    <li><a href="#!/tcf">nuclear receptor</a></li>
                    <li><a href="#!/tcf">Nucleoplasmin</a></li>
                    <li><a href="#!/tcf">others</a></li>
                    <li><a href="#!/tcf">PARP</a></li>
                    <li><a href="#!/tcf">PHF</a></li>
                    <li><a href="#!/tcf">proteasome</a></li>
                    <li><a href="#!/tcf">protein kinase</a></li>
                    <li><a href="#!/tcf">protein phosphatase</a></li>
                    <li><a href="#!/tcf">RBBP</a></li>
                    <li><a href="#!/tcf">ribosomal protein</a></li>
                    <li><a href="#!/tcf">ring finger protein</a></li>
                    <li><a href="#!/tcf">RNA binding protein</a></li>
                    <li><a href="#!/tcf">SAP</a></li>
                    <li><a href="#!/tcf">SET</a></li>
                    <li><a href="#!/tcf">sirtuin</a></li>
                    <li><a href="#!/tcf">SMYD</a></li>
                    <li><a href="#!/tcf">SS18</a></li>
                    <li><a href="#!/tcf">SSX</a></li>
                    <li><a href="#!/tcf">SUPT</a></li>
                    <li><a href="#!/tcf">SWI/SNF</a></li>
                    <li><a href="#!/tcf">TATA-box</a></li>
                    <li><a href="#!/tcf">TEF</a></li>
                    <li><a href="#!/tcf">thyroid hormone receptor</a></li>
                    <li><a href="#!/tcf">TOX</a></li>
                    <li><a href="#!/tcf">transcriptional adaptor</a></li>
                    <li><a href="#!/tcf">transducin</a></li>
                    <li><a href="#!/tcf">tripartite motif</a></li>
                    <li><a href="#!/tcf">ubiquitin_associated</a></li>
                    <li><a href="#!/tcf">vestigial like</a></li>
                    <li><a href="#!/tcf">VPS</a></li>
                    <li><a href="#!/tcf">WD</a></li>
                    <li><a href="#!/tcf">WW</a></li>
                    <li><a href="#!/tcf">zinc finger</a></li>
                    <li><a href="#!/tcf"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content Holder -->
    <div class="row" style="margin-top: 0px;padding-top: 0px">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>
    </div>
    <div id="content">
        <div class="panel" style="margin-left: 3px">
            <div class="panel-body">
                 <span>
                <ng-echarts id="barchart" ec-config="lineConfig"  ec-option="lineOption" style="width:1500px;height: 300px;" ></ng-echarts>
                </span>
            </div>
        </div>
        <div class="panel" style="margin-left: 3px">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group" style="margin-left: 5px;margin-left: 5px">
                        <img src="/static/AnimalTFDB3/image/species/{$ species $}.png" style="width: 25px;height: 25px"><span style="margin-left: 5px;font-weight: bold">{$ species_title $}</span><span style="margin-left: 20px;font-weight: bold">Family:</span><span>{$ family $}</span><span style="margin-left: 20px;font-weight: bold">Item number:</span><span>{$ tf_count $}</span>
                        <div class="pull-right">
                            <select class="form-control" id="species" ng-click="species_change()">
                                <option>Ailuropoda melanoleuca</option>
                                <option>Anas platyrhynchos</option>
                                <option>Anolis carolinensis</option>
                                <option>Aotus nancymaae</option>
                                <option>Astyanax mexicanus</option>
                                <option>Bos taurus</option>
                                <option>Caenorhabditis elegans</option>
                                <option>Callithrix jacchus</option>
                                <option>Canis familiaris</option>
                                <option>Capra hircus</option>
                                <option>Carlito syrichta</option>
                                <option>Cavia aperea</option>
                                <option>Cavia porcellus</option>
                                <option>Cebus capucinus</option>
                                <option>Cercocebus atys</option>
                                <option>Chinchilla lanigera</option>
                                <option>Chlorocebus sabaeus</option>
                                <option>Choloepus hoffmanni</option>
                                <option>Ciona intestinalis</option>
                                <option>Ciona savignyi</option>
                                <option>Colobus angolensis palliatus</option>
                                <option>Cricetulus griseus chok1gshd</option>
                                <option>Cricetulus griseus crigri</option>
                                <option>Danio rerio</option>
                                <option>Dasypus novemcinctus</option>
                                <option>Dipodomys ordii</option>
                                <option>Drosophila melanogaster</option>
                                <option>Echinops telfairi</option>
                                <option>Equus caballus</option>
                                <option>Erinaceus europaeus</option>
                                <option>Felis catus</option>
                                <option>Ficedula albicollis</option>
                                <option>Fukomys damarensis</option>
                                <option>Gadus morhua</option>
                                <option>Gallus gallus</option>
                                <option>Gasterosteus aculeatus</option>
                                <option>Gorilla gorilla</option>
                                <option>Heterocephalus glaber female</option>
                                <option>Heterocephalus glaber male</option>
                                <option>Homo sapiens</option>
                                <option>Ictidomys tridecemlineatus</option>
                                <option>Jaculus jaculus</option>
                                <option>Latimeria chalumnae</option>
                                <option>Lepisosteus oculatus</option>
                                <option>Loxodonta africana</option>
                                <option>Macaca fascicularis</option>
                                <option>Macaca mulatta</option>
                                <option>Macaca nemestrina</option>
                                <option>Mandrillus leucophaeus</option>
                                <option>Meleagris gallopavo</option>
                                <option>Mesocricetus auratus</option>
                                <option>Microcebus murinus</option>
                                <option>Microtus ochrogaster</option>
                                <option>Monodelphis domestica</option>
                                <option>Mus caroli</option>
                                <option>Mus musculus</option>
                                <option>Mus pahari</option>
                                <option>Mus spretus</option>
                                <option>Mustela putorius furo</option>
                                <option>Myotis lucifugus</option>
                                <option>Nannospalax galili</option>
                                <option>Nomascus leucogenys</option>
                                <option>Notamacropus eugenii</option>
                                <option>Ochotona princeps</option>
                                <option>Octodon degus</option>
                                <option>Oreochromis niloticus</option>
                                <option>Ornithorhynchus anatinus</option>
                                <option>Oryctolagus cuniculus</option>
                                <option>Oryzias latipes</option>
                                <option>Otolemur garnettii</option>
                                <option>Ovis aries</option>
                                <option>Pan paniscus</option>
                                <option>Pan troglodytes</option>
                                <option>Papio anubis</option>
                                <option>Pelodiscus sinensis</option>
                                <option>Peromyscus maniculatus bairdii</option>
                                <option>Petromyzon marinus</option>
                                <option>Poecilia formosa</option>
                                <option>Pongo abelii</option>
                                <option>Procavia capensis</option>
                                <option>Propithecus coquereli</option>
                                <option>Pteropus vampyrus</option>
                                <option>Rattus norvegicus</option>
                                <option>Rhinopithecus bieti</option>
                                <option>Rhinopithecus roxellana</option>
                                <option>Saimiri boliviensis boliviensis</option>
                                <option>Sarcophilus harrisii</option>
                                <option>Sorex araneus</option>
                                <option>Sus scrofa</option>
                                <option>Taeniopygia guttata</option>
                                <option>Takifugu rubripes</option>
                                <option>Tetraodon nigroviridis</option>
                                <option>Tupaia belangeri</option>
                                <option>Tursiops truncatus</option>
                                <option>Vicugna pacos</option>
                                <option>Xenopus tropicalis</option>
                                <option>Xiphophorus maculatus</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="divider">
                <table ng-show="tf_count" class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap"    ts-wrapper>
                            <thead>
                            <tr>
                                <th ts-criteria="ensembl" ts-default style="width: 12%">Ensembl ID</th>
                                <th ts-criteria="entrez">Entrez ID</th>
                                <th style="width:5%" ts-criteria="symbl">Symbol</th>
                                <th ts-criteria="alia">Alias</th>
                                <th ts-criteria="fullname">Full Name</th>
                                <th style="width: 5%">Pathway</th>
                                <th style="width: 5%">Phenotype</th>
                                <th style="width: 5%">Disease</th>
                                <th style="width: 5%">PPI</th>
                                <th style="width: 5%">Paralog</th>
                                <th style="width: 5%">Ortholog</th>
                                <th style="width: 5%">Expression</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in tf_list" ts-repeat>
                                <td title="{$ item.ensembl $}"><a href="#!tf_gene_info?tf={$item.ensembl$}&cofactors=1" target="_self">{$ item.ensembl $}</a></td>
                                <td title="{$ item.entrez$}"><a href="http://www.ncbi.nlm.nih.gov/gene/{$item.entrez$}" target="_blank">{$ item.entrez$}</a></td>
                                <td title="{$ item.symbl $}">{$ item.symbl $}</td>
                                <td title="{$ item.alia $}">{$ item.alia $}</td>
                                <td title="{$item.fullname$}">{$ item.fullname $}</td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.pathway"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.pathway"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.Pheanotype"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.Pheanotype"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.Disease"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.Disease"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.PPI"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.PPI"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.Paralog"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.Paralog"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.Ortholog"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.Ortholog"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.Expression"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.Expression"></span>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                <div class="well"style="background-color: #4682B4;color: white;"  ng-show="tf_zero">There were 0 item in the selected family</div>
            </div>
        </div>
    </div>
</div>
