<div ng-show="loading" style="text-align: center">
        <img src="/static/AnimalTFDB3/image/loading.gif" style="width: 100px;height: 100px;" alt="loading...">
</div>
<div class="panel" style="margin-left: 3px" ng-hide="loading">
    <div class="panel-body">
        <div class="panel panel-default" id="info" ng-show="species">
            <div class="panel-heading">
                <div class="form-group" style="margin-left: 5px;margin-right: 5px">
                    <img src="/static/AnimalTFDB3/image/species/{$ species $}.png" style="width: 25px;height: 25px"><span style="margin-left: 5px;font-weight: bold">{$ species_title $}</span><span style="margin-left: 20px;font-weight: bold">Family: </span><span>{$ family $}</span><span style="margin-left: 20px;font-weight: bold" ng-hide="cofactors">DNA Binding Domain: {$ dbd $}&nbsp;</span>
                    <span ng-show="link_tag"><a href="http://pfam.xfam.org/family/{$ id $}" target="_blank">{$ id $}</a></span>
                    <span ng-show="sing_tag"><a href="http://www.ebi.ac.uk/interpro/DisplayIproEntry?ac={$ id $}" target="_blank">{$ id $}</a></span>
                    <span ng-show="self_tag">{$ id $}</span>
                    <span style="margin-left: 20px;font-weight: bold">Number of family members: </span><span>{$ tf_count $}</span>
                </div>
            </div>
            <div class="panel-body" ng-show="tf_count">
                <div class="row">
                    <div class="pre-scrollable">
                             <table class="table table-bordered table-striped table-hover  table-condensed tablesorter tablesorter-bootstrap"  style="table-layout:fixed;"   ts-wrapper>
                            <thead>
                            <tr>
                                <th ts-criteria="ensembl" style="width: 12%">Ensembl ID</th>
                                <th ts-criteria="entrez">Entrez ID</th>
                                <th style="width:5%" ts-criteria="symbl" ts-default>Symbol</th>
                                <th ts-criteria="alia">Alias</th>
                                <th ts-criteria="fullname">Full Name</th>
                                <th style="width: 5%">Pathway</th>
                                <th style="width: 5%">Phenotype</th>
                                <th style="width: 5%">Disease</th>
                                <th style="width: 5%">PPI</th>
                                <th style="width: 5%">Paralog</th>
                                <th style="width: 5%">Ortholog</th>
                                <th style="width: 5%">Expression</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in tf_list" ts-repeat>
                                <td title="{$ item.ensembl $}"><a ng-hide="cofactors" href="#!tf_gene_info?tf={$item.ensembl$}" target="_self">{$ item.ensembl $}</a><a ng-show="cofactors" href="#!tf_gene_info?tf={$item.ensembl$}&cofactors=1" target="_self">{$ item.ensembl $}</a></td>
                                <td title="{$ item.entrez$}"><a href="http://www.ncbi.nlm.nih.gov/gene/{$item.entrez$}" target="_blank">{$ item.entrez$}</a></td>
                                <td title="{$ item.symbl $}">{$ item.symbl $}</td>
                                <td title="{$ item.alia $}">{$ item.alia $}</td>
                                <td title="{$item.fullname$}">{$ item.fullname $}</td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.pathway"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.pathway"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.phenotype"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.phenotype"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.gwas"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.gwas"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.ppi"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.ppi"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.paralog"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.paralog"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.ortholog"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.ortholog"></span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" style="color: #1E90FF" ng-show="item.expression"></span>
                                    <span class="glyphicon glyphicon-remove" style="color: #FF9999" ng-show="!item.expression"></span>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                    <div ng-hide="cofactors" class="well" style="width: 100%;"><span style="font-size: larger;font-weight: bold;color: dimgray">Multi-alignment, and WebLogo for DNA binding domain: </span><span class="badge alert-success"  style="margin-right: 20px"><a href="http://bioinfo.life.hust.edu.cn/static/AnimalTFDB3/image/alignment_and_WebLogo/{$ species $}/{$ family $}.aln" target="_blank"><h4>Multi-alignment</h4></a></span><span class="badge alert-warning cursor-hand" data-toggle="modal" data-target="#myModal" ng-click="show_modal(item)" style="margin-right: 20px"><h4>WebLogo of Multi-alignment</h4></span></span>

                    </div>
                    <div ng-show="family_info">
                        <h4 style="margin-left: 22px">Introduction</h4>
                        <div style="margin-left: 22px" id="description"></div>
                        <h4 style="margin-left: 22px">Reference</h4>
                        <div id="reference"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%;height: 100%;text-align: center; horiz-align:center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    WebLogo for DNA binding domain of {$ species $} {$ family $}
                </h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                 <img src="http://bioinfo.life.hust.edu.cn/static/AnimalTFDB3/image/alignment_and_WebLogo/{$ species $}/{$ family $}.png">
            </div>
            <div class="modal-footer" style="width:100%; text-align: center">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>